.main-content {
    /* 최대 너비 설정 */
    max-width: 75%;
    /* 수평 중앙 정렬 */
    margin: 0 auto;
    /* 배경 색상 */
    background-color: #b2bcc5;
}

.intro-section {
    background-color: #425b74;
    margin-bottom: 40px;
    /* 필요 시 패딩 추가 */
    padding: 20px;
    /* 플로트된 요소를 감싸도록 부모 요소의 높이 조정 */
    overflow: auto;
}

.intro-section img {
    float: left;
}

.intro-section h1 {
    /* 텍스트를 인라인으로 설정 */
    display: inline;
}

.nickname-display-section h1 {
    float: left;
}

.nickname-registration-section h1 {
    float: right;
}